<!doctype html>
<html lang="pt-br">
    <head>
        <% include ./partials/head %>
        <title>Pagina Principal</title>
    </head>
    <body>
        <% include ./partials/header %>

        <div class="container mt-4">
            <div class="form-row">
                <div class="col-12 text-center my-5">
                    <h5 id="titulo" class="cinza"></h5>
                    <p id="descricao" class="my-3"></p>
                    <img id="imagem" class="mt-4 img-responsive">
                    <span id="infos" class="d-block my-2"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" id="colunasTotal">
                
        </div>

        <% include ./partials/footer %>    
        <script>
            function modificarDirecao(and, form, formData, adicional={}){
                var modificar = new FormData()
                    modificar.append(form.chave, form.valor);
                enviarForm('put',
                [
                    {chave:'tabela',valor:'pensamentos'},
                    {chave: 'where', valor: ' WHERE fk_ideia = <%=dados.idideia%> AND'+and},
                    adicional
                ], modificar, function(data){
                    if(adicional.valor == 'coluna' ){
                        enviarForm('post', [{chave:'tabela', valor: 'pensamentos'}], formData, function(dataInsert){
                            carregarDadosPensamento();                            
                        })
                    } 
                })
            }
            function adicionarPensamento(numeroPensamento, clicado, direcao = ''){
                var formData = new FormData()
                formData.append('fk_ideia', '<%=dados.idideia%>')
                formData.append('fk_last_pensamento', $(clicado).attr('data-lastPensamento'))
                formData.append('coluna', $(clicado).attr('data-coluna'))
                formData.append('nome', $('#nome-'+numeroPensamento).val())
                formData.append('descricao', $('#descricao-'+numeroPensamento).val())
                if(direcao.length > 1){
                    formData.append('vemde', direcao);
                    modificarDirecao(' idpensamento = '+$(clicado).attr('data-lastPensamento'), {chave: direcao, valor: 1});
                    modificarDirecao(' coluna >= '+$(clicado).attr('data-coluna'), {chave: 'coluna', valor: ''}, formData, {chave: 'tipo', valor: 'coluna'});
                }else{
                    enviarForm('post', [{chave:'tabela', valor: 'pensamentos'}], formData, function(data){
                        carregarDadosPensamento();
                    })
                }
            }
            function gerarPensamentoUnico(){
                $('#coluna-1').html(` 
                    <h5 class="cinza">Adicionar Pensamento</h5>
                    <form>
                        <input type="text" id="nome-0" name="nome" placeholder="Titulo">
                        <input type="text" id="descricao-0" name="descricao" placeholder="Descrição">
                    </form>
                    <button class="button-salvar-0" onclick="adicionarPensamento(0, this)" data-lastPensamento="" data-coluna="1">Salvar</button>`)
            }
            function buttonsSalvarColunas(elemento){
                var  buttonFrente = '', buttonDir = '', buttonEsq = '', colunaFrente, colunaDir, colunaEsq, funcaoEvento
                colunaFrente = parseInt(elemento.coluna);
                colunaDir = parseInt(elemento.coluna)+1;
                colunaEsq = parseInt(elemento.coluna);
                if(elemento.esq != 1){
                    buttonEsq = `<button class="btn btn-primary rounded-circle button-salvar-${elemento.idpensamento}" onclick="adicionarPensamento(${elemento.idpensamento}, this, 'esq')" data-lastPensamento="${elemento.idpensamento}" data-coluna="${colunaEsq}"> < </button>`
                }
                if(elemento.dir != 1){
                    buttonDir = `<button class="btn btn-secondary rounded-circle button-salvar-${elemento.idpensamento}" onclick="adicionarPensamento(${elemento.idpensamento}, this, 'dir')" data-lastPensamento="${elemento.idpensamento}" data-coluna="${colunaDir}"> > </button>`
                }
                buttonFrente = `<button class="btn btn-success rounded-circle button-salvar-${elemento.idpensamento}" onclick="adicionarPensamento(${elemento.idpensamento}, this)" data-lastPensamento="${elemento.idpensamento}" data-coluna="${colunaFrente}">V</button>`
                return {buttonFrente: buttonFrente, buttonDir: buttonDir, buttonEsq: buttonEsq}
            }
            function gerarPensamentos(data){
                var dadoColuna ='', botoes
                data.forEach(function(elemento){
                    botoes = buttonsSalvarColunas(elemento);
                    dadoColuna =`
                        <div class="mx-4 contagem" id="margin-pensamento-${elemento.idpensamento}"> 
                            <p class="cinza">${elemento.nome}</p>
                            <p><small>${elemento.descricao}</small></p>
                            <div class="revelar">
                                <form name="pensamento-${elemento.idpensamento}">
                                    <input type="text" id="nome-${elemento.idpensamento}" placeholder="Titulo">
                                    <input type="text" id="descricao-${elemento.idpensamento}" placeholder="Descrição">
                                </form>
                                <div class="d-flex justify-content-center">
                                    ${botoes.buttonEsq}
                                    ${botoes.buttonFrente}
                                    ${botoes.buttonDir}
                                </div>
                            </div>
                        </div>`
                    document.getElementById('coluna-'+elemento.coluna).innerHTML += dadoColuna
                    if(elemento.fk_last_pensamento && elemento.vemde != 'fre'){
                        $(`#margin-pensamento-${elemento.idpensamento}`).css({marginTop: $(`#margin-pensamento-${elemento.fk_last_pensamento}`).offset().top-$('#colunasTotal').offset().top+100})
                    }
                })
                posicionaRodape()
            }

            function validaTamanhoData(data){
                if(data.length > 0){
                    gerarPensamentos(data)
                }else{
                    alert('gerou')
                    gerarPensamentoUnico()
                }
            }
            function gerarColunas(maiorColuna){
                var colunas = '';
                for(i=1; i<= maiorColuna; i++){
                    colunas += `
                        <div id="coluna-${i}" class="text-center"></div>
                    ` 
                }
                if(maiorColuna == null){
                    colunas = '<div id="coluna-1" class="text-center"></div>'
                }
                $('#colunasTotal').html(colunas)
            }
            function carregarDadosPensamento(){
                var dadosPensamentos = {sql:'SELECT * FROM pensamentos WHERE fk_ideia = <%=dados.idideia%> ORDER BY idpensamento'}
                var dadosMaiorColuna = {sql:'SELECT MAX(coluna) AS maiorColuna FROM pensamentos WHERE fk_ideia = <%=dados.idideia%>'}
                pegarDados(dadosPensamentos, function(data){
                    pegarDados(dadosMaiorColuna, function(maiorColuna){
                        gerarColunas(maiorColuna[0].maiorColuna);
                        data.maiorColuna = maiorColuna[0].maiorColuna
                        validaTamanhoData(data);
                    })
                })
            }
            jQuery(function($) {
                $(document).ready(function() {
                    var dados = {sql:'SELECT ideias.titulo, ideias.data_cadastro, ideias.descricao, ideias.nomeImage, usuarios.nome FROM ideias LEFT JOIN usuarios on ideias.fk_usuario = usuarios.idusuario WHERE idideia = <%=dados.idideia%>'};
                    pegarDados(dados, function(data){
                        $('#titulo').html(data[0].titulo)
                        $('#descricao').html(data[0].descricao)
                        $('#imagem').attr("src", "data/"+data[0].nomeImage)
                        $('#infos').html('<i>'+data[0].nome+' / '+data[0].data_cadastro+'</i>')
                    })
                    carregarDadosPensamento()
                });
            })
        </script>
    </body>
        <%include ./partials/rodape %>
</html>